@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}



.task-container {
  width: 80%;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress {
  text-align: center;
}

.progress-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #e7e7e7;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.task-list {
  background-color: #fafafa;
  border-top: 1px solid #e1e1e1;
}

.task-section h2 {
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.task-title {
  font-weight: bold;
}

.due-date {
  color: #888;
  font-size: 0.9em;
}

.add-task-button button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #5cb85c;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.add-task-button button:hover {
  background-color: #4cae4c;
}